.blank-container {
  padding: 15px;
  .center-title {
    margin: 1.2em 0;
  }
  .table {
    margin: 1.2em 0;
  }
  .double {
    display: flex;
    justify-content: space-between;
  }
  .triple {
    display: flex;
    justify-content: space-between;
  }
  .blank-item {
    display: flex;
    .item-container {
      width: 100%;
      display: none;
    }
    .show-empty {
      display: flex;
    }
    .left {
      justify-content: flex-start;
    }
    .right {
      justify-content: flex-end;
    }
    .center {
      justify-content: center;
    }
    .value {
      margin-left: 5px;
    }
    .strong-titles {
      font-weight: bold;
    }
    .bottom-border {
      border-bottom: 1px solid black;
    }
    .margin-10 {
      margin: 10px 0;
    }
  }
  .top-10 {
    margin-top: 10px;
  }

}
