.print-actions {
  height: 50px;
  background: #00364d;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 0 10px;
  border-radius: 10px;
  z-index: 666;
}

.control-actions {
  height: auto;
  background: #00364d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  position: fixed;
  bottom: 85px;
  right: 25px;
  z-index: 666;
  padding: 10px;
  border-radius: 10px;

  .control-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  strong {
    color: #fff;
  }

  .btn {
    outline: none;
    color: #fff !important;
  }
}
