// LAYOUT

.blank-layout {
  .title {
    white-space: pre;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
  }

  .button-row {
    margin-top: 30px;

    .button-left {
      padding-left: 270px;
    }
  }

  .text-center-container {
    padding: 50px 0;
  }

  .text-small-padding {
    padding: 10px 0;
  }

  .text-left-container {
    padding: 25px 0 0 0;
  }

  .bold-text {
    font-weight: bold;
  }

  .width-input {
    display: flex;
    align-items: flex-end;

    .step {
      position: relative;
      bottom: 10px;
    }

    clr-input-container,
    clr-textarea-container,
    clr-select-container {
      flex-direction: row;
    }

    input {
      width: 100px;
      position: relative;
      bottom: 5px;
    }
  }

  .full-width-input {
    clr-input-container,
    clr-textarea-container,
    clr-select-container {
      flex-direction: row;

      label {
        position: relative;
        top: 5px;
        width: 300px;
      }

      .clr-control-container {
        width: 100%;

        input, textarea {
          width: 100%;
        }

        select {
          width: 300px;
        }

        textarea {
          min-height: 120px;
        }
      }
    }
    clr-textarea-container {
      label {
        position: relative;
        top: -60px;
      }
    }
  }

  .print-block {
    height: 200px;
  }

}
