@import '~src/assets/scss/variables';

.blank-actions {
  height: 50px;
  background: $default_blue;
  display: flex;
  justify-content: space-around;
  width: 500px;
  right: 25px;
  position: fixed;
  bottom: 25px;
  border-radius: 10px;
  z-index: 666;

  .layout-actions {
    strong {
      color: #fff;
    }

    .btn {
      outline: none;
    }
  }
}
